In [1]:
import sys
sys.version

'3.13.5 | packaged by Anaconda, Inc. | (main, Jun 12 2025, 16:37:03) [MSC v.1929 64 bit (AMD64)]'

In [2]:
x =  3
x

3

In [3]:
x =  4
x

4

In [4]:
y =  3
y

3

In [5]:
x, y

(4, 3)

In [6]:
x, y = 3

TypeError: cannot unpack non-iterable int object

In [7]:
type(x)

int

In [8]:
y

3

In [9]:
x1 =  4
x
type(x1)

int

In [10]:
y = 3
id(y)

140708248990696

In [11]:
x1 =  4
id(x1)

140708248990728

In [12]:
y = False
type(y)

bool

In [13]:
a = 5
print(a)
type(a)

5

int

In [14]:
a@ = 6
a@

SyntaxError: invalid syntax (385768347.py, line 1)

In [17]:
6 == b

NameError: name 'b' is not defined

In [18]:
b = 5.5
b

5.5

In [19]:
type(b)

float

In [20]:
c = 'hi'
c

'hi'

In [21]:
type(c)

str

In [22]:
x = 2
x

2

In [23]:
# Integer 
b = 9223372036
print(b)

9223372036

In [24]:
# Floating point
pi = 3.17
print(pi)

3.17

In [25]:
# String 
name = 'John Doe'
print(name)
type(name)

John Doe

str

In [26]:
# Boolean 
q = True
print(q)

True

In [27]:
# Empty value or null data type
x = None
print(x)

None

In [28]:
#Variable assignment works from left to right. So the following will give you an syntax error.
5 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2124959903.py, line 2)

In [29]:
x = 5
x

5

# Identifier/ variable/ object

In [30]:
ABC = 50
ABC

50

In [31]:
abc= 60
abc

60

In [32]:
Abc = 70
ABCD

NameError: name 'ABCD' is not defined

In [33]:
xyz = 20000
xyz

20000

In [34]:
NIT = 15000
nit1

NameError: name 'nit1' is not defined

In [35]:
cash123 = 10
cash123

10

In [36]:
123cash = 20
123cash

SyntaxError: invalid decimal literal (2794601236.py, line 1)

In [37]:
1A = 5

SyntaxError: invalid decimal literal (113075527.py, line 1)

In [38]:
A1 = 5
A1

5

In [39]:
#x = 10 # x is the variable & 10 is thealue
cash = 10 # Identifier ruls alphabet
#ca$h = 10 # $ - symbole is not allowed in python identifier but in java is allowed
#ca$h
cash

10

In [40]:
ca$h = 20
ca$h

SyntaxError: invalid syntax (1252925957.py, line 1)

In [41]:
ca*h = 20
ca*h

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3805698226.py, line 1)

In [42]:
CASH1 = 30
#cash1
CASH1

30

In [43]:
# <2> Identifiers should not starts with dight ====
#sum123 = 20 # Digit rules identifier
123total = 30
123total
#sum123

SyntaxError: invalid decimal literal (216375565.py, line 3)

In [44]:
# <3> Identifiers are case sensitive
#total = 10 # Python are case sensitive
Abcde = 20
#total
type(Abcde)

int

In [45]:
new = 30
NEW

NameError: name 'NEW' is not defined

In [46]:
def = 4.6
def

SyntaxError: invalid syntax (1737738290.py, line 1)

In [47]:
del = 9

SyntaxError: invalid syntax (3568866929.py, line 1)

In [49]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [50]:
len(keyword.kwlist)

35

In [51]:
if = 780
if

SyntaxError: invalid syntax (1979711427.py, line 1)

In [52]:
IF = 780
IF

780

In [53]:
# <4> Keywords can not be assigned as identifier
#if = 10   # if is keyword
#DEF = 20  # def is keyword

In [54]:
FOR = 58
FOR

58

In [55]:
# 5> NO length limit in python Identifier
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx = 10
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx

10

In [56]:
_abc_def_gef  = 20
_abc_def_gef

20

In [57]:
print('hello')

hello

In [58]:
'hello'

'hello'

35 RESERVED WORDS---
* True, False, None ==> Represent Boolean data types   
* and, or, not, is ==> Represent the operators
* if, else, elif ==> Represent the statement   (# python switch,do..while statament is not available)
* while, for, break, continue, return, in, yield ==> Represent the loop concept
* try, except, finally, raise, assert ==> Represent for functionallity
* import,from,as,class,def,pass,global,nonlocal,lambda,del,with==>Represent the class,method,function

**NOTES --  *35 RESERVED WORDS ARE (ALPHABET) // *EXCEPT (True,False,None)

In [59]:
True = a

SyntaxError: cannot assign to True (1144090750.py, line 1)

In [60]:
b = None
#b = none
b

In [61]:
true + true

NameError: name 'true' is not defined

In [62]:
True + True

2

In [63]:
True*True

1

In [64]:
True / True #(float division )

1.0

In [65]:
True // True

1

In [66]:
# How to remembr all keywords --- (Interview questions)
# KEYWORD is the module run from IMPORT class
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [67]:
# write a coding to create index of these keywords --- IMP ---
import pandas as pd # pandas is the module to create a dataframe
df = pd.DataFrame(keyword.kwlist)
df
# Always remember python Index begins with '0'

           0
0      False
1       None
2       True
3        and
4         as
5     assert
6      async
7      await
8      break
9      class
10  continue
11       def
12       del
13      elif
14      else
15    except
16   finally
17       for
18      from
19    global
20        if
21    import
22        in
23        is
24    lambda
25  nonlocal
26       not
27        or
28      pass
29     raise
30    return
31       try
32     while
33      with
34     yield

## python datatypes

In [69]:
# What is other inbuild datatype available except 14 datatypes-

a = 10
a
#print(a)       # To find the variable 
#print(a)         # To find the value of variable
#type(a) # To find the data type
#id(a)            # To find an address of an object
#type(a)

10

In [70]:
id(a)

140708248990920

In [71]:
a = 10
b = 10
id(a)

140708248990920

In [ ]:
#2.Binary form(Base 2)
#a = 1111   # value is declared
b = 0b1111 # Now pvm convert value to binary value
b
#a

In [72]:
bin(15)

'0b1111'

In [73]:
bin(b_1)

NameError: name 'b_1' is not defined

In [74]:
b_ = 0b1   #0b means you’re writing a binary literal.
#0b1 is binary for the decimal number 1
b_

1

In [75]:
b2 = 0b22
b2

SyntaxError: invalid digit '2' in binary literal (3245495910.py, line 1)

In [76]:
b1 = 111
b1

111

In [77]:
c = 0b111
c

7

In [78]:
b3 = 0b2
b3

SyntaxError: invalid digit '2' in binary literal (707794346.py, line 1)

In [79]:
True/False

ZeroDivisionError: division by zero

In [80]:
#3. Octal form(Base 8)
#a = 111 # Value is declared
b1 = 0o11 # Now pvm covert value to octal value
b1
#a

9

In [81]:
i1 = 0o22
i1

18

In [ ]:
#0o means you’re writing an octal literal (base 8).

#0o27 in octal means:
#(2×8)+7=16+7=23
#So b2 will store 23 as a decimal integer.

In [82]:
# final summary of INTEGRAL DATATYPES 
a = 10
b = 0b10
c = 0o100
a
b
c

64

In [83]:
c1 = 0O33
c1

27

In [84]:
b

2

In [85]:
c

64

In [ ]:
#### float datatypes - 
*employee sal - 5676.76
*diesel price - 67.25
* These values are not integral value this is called as decimal value
* Floating datatype you cannot declare Binary,Octal & Hexadecimal because  python enterpretur not accept that
* In our schools we learn about EXPONTIAL form -(1.2e3) this you can find in   float datatypes & only letter 'e' can allowed

In [86]:
b = 67.9
print(b)

67.9

In [87]:
type(b)

float

In [88]:
b1 = 0b1.1
b1

SyntaxError: invalid syntax (808406421.py, line 1)

In [89]:
c = 0o11.6
c

SyntaxError: invalid syntax (3270742341.py, line 1)

In [90]:
# float datatypes - 
#b2 = 0b1111.22
#b2
#print(type(b))
#type(b2) 
#b
d = 0o4567.67 # This is octal
#e = 0o456789 # This is binary
d
#e
#b

SyntaxError: invalid syntax (2124913177.py, line 7)

In [91]:
f1 = 1e4
f1
type(f1)

float

In [92]:
#f = 1e4# only 'e' letter is allowed
g = 2.4E3 # except 'E' you can't execute any programme
g
#f
#type(g)

2400.0

#### complex datatypes - 
* Complex datatype format are:-(a+bj) (a--Real part/b--Imaginary part/j^2=-1)
* j is the compulsory value & there is no other value accepted in complex type
* j^2 = -1 
* Value of j is (j square is equal to -1) (j =(square root of -1) is equal to (j^2 = -1) pure mathemetics so if you want to develop mathmetic 
  application or scientific application then python is the best option
* Real type any type base can be accepted but imaginary part allow only integer

In [94]:
x = 30+40j #assigned int value in real part & imaginary part
x

(30+40j)

In [95]:
type(x)

complex

In [96]:
y = 1+2j #assigned float value in real part & imaginary part
z = 3+2j  #assigned float value in real part & real value in imaginary part
y + z
y-z
y*z
y/z

(0.5384615384615384+0.30769230769230776j)

In [97]:
y-z

(-2+0j)

In [98]:
y*z

(-1+8j)

In [99]:
c = 15+0b111j # Imaginary part cannot be binary,octal
#d = 0b11+15j # Real part can be binary,octal
c
#d

SyntaxError: invalid binary literal (2166187284.py, line 1)

In [100]:
d2 = 0b111+15j
d2

(7+15j)

In [101]:
a1 = 10+20j  # I want to know what the value of real part & imaginary part
a1.real   # complex data type will use in mathmetic concept not that required for programming language
#a1.imaginary
a1.imag

20.0

#### bool datatypes - 
* True/False - (only allowed boolean values)
* False value -- 0 (internally memory level conversion happened)
* True value -- 1

In [104]:
True+True
True*True
True-True
True/True
True//True
False+False
False+True

1

In [105]:
pi = 3.14
pi
type(pi)

float

#### str datatypes - 
* enclosed in '' (single quote) // "" (double quote)
* singa line we assined as '' // ""
* multiline we assigned as ("' "')
* single & double quotes are allowed only for single line
* triple quotes are allowed for multi comments & also you can declare triple quotes in single line as well

In [106]:
ABC = '''good for datascience'''
ABC

'good for datascience'

In [107]:
w = '''good
             for datascience'''
#type(careerera)#' single quotes'
w
#type(naresh)

'good\n             for datascience'

In [108]:
a = '''hallo
how 
are 
you'''

a
#type(a) # SINLE & DOUBLE QUOTES ARE EQUAL

'hallo\nhow \nare \nyou'

In [109]:
x, y, z, m, n = 10, True, 10.9, 1 + 10j, 'hi'

#### Type casting or Type conversion - 
int() -- float() -- complex() -- bool() -- str()

In [ ]:
# int(): - you can convert from other type to int type except complex 

int(10.123)  # float to int
#int(10+20j) # cannot convert from complex to int
int(True)     # Bool to int
int(False)   # Boll to int
int('10')    # string to int
#int('ten') # amx is a characte

In [2]:
# float(): -- convert from any type to float except complex
float(10)      # int to float
#float(10+20j)  # cannot convert complex to float
float(False)     # boolean to float
float('11')    # string to float

11.0

In [2]:
# complex(): -- covert any other type to complex type
# --- this only for 1 argument ------
complex(10)     # int to complex
complex(10.5)  # float to complex
complex(True)  # Bool to complex
complex(False) # Bool to complex
complex('10')  # string to complex 

# ----- Now we will check for 2 arguments ------
complex(10,20)   # int to complex
complex(10,20.5) # float to complex
complex('10')    # string to complex, you cannot assign 2 argument

(10+0j)

In [ ]:
# Bool()  - (0 means false // 1 means non zero)

bool(0)      # int to bool
bool(-10)     # int to bool
bool(0.0)    # float to bool
bool(0.01)   # float to bool 
bool(10+20j) # complext to bool
bool(0+1j)   # complex to bool
bool(" ")      # string to bool(if argument is empty string then false)
bool('abc')# string to bool(if argument is not empty string then true)
bool(' ')    # space is also treated as character so non empty string

In [3]:
bool(-10)

True

In [4]:
bool(0+1j)

True

In [5]:
# str(): --- any type is possible in string 

str(10)     # int to string
str(10.50)  # float to string
str(True)   # bool to string
str(10+20j) # complex to string

'(10+20j)'

#### Fundamental datatypes vs Immutability -- 

* All fundamental datatypes are immutable. what is immutable - once we crate the object we are not allow to perform any 
  changes in that object . we can say that (non-changeable behaviour)
* why immutability concept is required -- if you look at below exampl - how many object we created only 1 object which is 10
  but how many reference we assinged -- 3 reference indicates to 1 object
* bigest advantage of this approch is memory utilization & performance is also improved (pvm do not want to wsat memory)
* you can create object with different name, but you cannot create object with same name

In [6]:
x2 = 10
y2 = 10
z2 = 20 
print(id(x2))
print(id(y2))
print(id(z2))

140709194609864
140709194609864
140709194610184

In [ ]:
x = 10 #id - adddres of the memory location
y = 10
print(id(x))
print(id(y))

In [7]:
# is operator
x = 20 # x,y = 20
y = 20
x is y
y is x

True

In [8]:
x = True
y = True
z = False
print(x is y)
print(y is z
print(z is x
prinz is y

False