In [1]:
# print is use for answer

In [2]:
a =  10
b = 20
a
b

20

In [3]:
a =  10
b = 20
print(a)
print(b)

10
20

In [4]:
print(10)
print(10,20) 
print('python') 
print(10,20,'python')

10
10 20
python
10 20 python

In [5]:
num1 = 10
num2 = 20
add = num1 + num2
print(add)

30

# print result with string

In [7]:
num1 = 20
num2 = 30
add = num1 + num2
print('The addition of ',num1 ,'and', num2, 'is =', add)

The addition of  20 and 30 is = 50

In [9]:
name = 'Python'
age =  20
city = 'hyd'
print('My name is',name,'and i am',age,'years old form',city)

My name is Python and i am 20 years old form hyd

In [11]:
um1 = 20
num2 = 30
add = num1 + num2
print('The addition of {} and {} is {}'.format(num1,num2,add))

The addition of 20 and 30 is 50

In [12]:
name='Python' 
age=20 
city='hyd'

In [14]:
print('My name is {} and I am {} years old and I live in {}.'.format(name, age, city))

My name is Python and I am 20 years old and I live in hyd.

In [15]:
num1=100 
num2=25 
num3=333 
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2) 
avg1=round((num1+num2+num3)/3,2) 

print('The avrage of {}, {}, and {} is= {} or {}'.format(num1,num2,num3, 
avg,avg1))

The avrage of 100, 25, and 333 is= 152.66666666666666 or 152.67

In [17]:
round(avg,2)

152.67

In [18]:
num1 = 20
num2 = 30
add = num1 + num2
print(f'The addition of {num1} and {num2} is {add}.')

The addition of 20 and 30 is 50.

In [20]:
name='Python' 
age=20 
city='hyd' 
print(f'My name is {name} and I am {age} years old and I live in {city}.')

My name is Python and I am 20 years old and I live in hyd.

In [21]:
num1=100 
num2=25 
num3=333 
avg=round((num1+num2+num3)/3,2)
print(f'The avrage of {num1}, {num2} and {num3} is = {avg}')

The avrage of 100, 25 and 333 is = 152.67

In [22]:
num1=10 
num2=20 
add = num1+ num2 
print('The addition of',num1,'and',num2,'is=',add) 
print('The addition of {} and {} is= {}'.format(num1,num2,add)) 
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

# end statement

In [23]:
print('hello')
print('good morning')

hello
good morning

In [ ]:
# end statement that joint line from end of one string to starting of other string

In [24]:
print('hello' , end = ' ')
print('good morning')

hello good morning

# Separator

In [25]:
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [26]:
print('hello','hai','how are you',sep='&')

hello&hai&how are you

In [27]:
print('hello','hai','how are you',sep='@')

hello@hai@how are you

In [28]:
print('hello','hai','how are you',sep=' ')

hello hai how are you

In [29]:
print(3,'.') # . is far from 3 so here we will use sep method

3 .

In [30]:
print(3,'.',sep='')

3.

In [31]:
print(1,2,end=' ') 
print(3,'.',sep='')

1 2 3.