# Arithmetic Operations in python

# Integers

In [1]:
print('Addition : ', 1+ 2)

Addition :  3

In [4]:
print('Multiplication : ', 1 * 2)

Multiplication :  2

In [5]:
print('Division : ', 4 / 2)

Division :  2.0

In [6]:
print('Division : ', 6/ 2)

Division :  3.0

In [7]:
print('Division : ', 7 / 2)

Division :  3.5

In [8]:
print('Division  without the remainder: ', 7 // 2)

Division  without the remainder:  3

In [10]:
print('Modulus : ', 3 % 2) #gives the remainder

Modulus :  1

In [11]:
print ('Division without the remainder: ', 7 // 3)

Division without the remainder:  2

In [12]:
print('Exponential : ', 3**2) # it means 3 * 3

Exponential :  9

# Floating Numbers

In [13]:
print('Floating Number, PI ', 3.14)

Floating Number:, PI  3.14

In [14]:
print('Floating Number, gravity ', 9.81)

Floating Number, gravity  9.81

# Complex Numbers

In [15]:
print('Complex Number: ',1 +3j)

Complex Number:  (1+3j)

In [16]:
print('Multiplying Complex Number : ',(1 + 1j) * (1 -1j)

_IncompleteInputError: incomplete input (3110338520.py, line 1)

# Declaring the variables at the top fist

In [17]:
a = 3 #a is a variable name and 3 is an integer data type

In [18]:
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable

In [20]:
total =  a + b
diff =  a - b
product  = a * b
division =  a/ b
remainder = a % b
floor_division =  a//b
exponential = a **b

In [ ]:
# I should have used sum instead of total but sum is a built-in function try to avoid overriding builtin functions

In [22]:
print(total)
print(' a + b : ', total)
print(' a - b : ', diff)
print(' a * b : ', product)
print(' a / b : ', division)
print(' a % b : ', remainder)
print(' a // b : ', floor_division)
print(' a ** b : ', exponential)

5
 a + b :  5
 a - b :  1
 a * b :  6
 a / b :  1.5
 a % b :  1
 a // b :  1
 a ** b :  9

# Declaring values and organizing them together

In [23]:
num_one = 3
num_two =  4

# Arithmetic operations

In [24]:
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
division = num_two / num_one
exponential = num_one ** num_two

# Printing values with label

In [27]:
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', division)
print('exponential: ', exponential)

total:  7
difference:  1
product:  12
division:  1.3333333333333333
exponential:  81

# Calculating area of a circle

In [28]:
radius = 10
area_of_circle = 3.14 * radius * 2
print(area_of_circle)

62.800000000000004

# Calculating area of a rectangle

In [29]:
length =  10
width = 20
area_of_rectangle = length * width
print(area_of_rectangle)

200

# Calculating a weight of an object

In [30]:
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight)

735.75

In [31]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

True
True
False
True
True
False
True
False
True
True
False
True
True
False

# Boolean comparison

In [32]:
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False: ', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False:  True
True and True:  True
True or False: True

# Another way comparison

In [33]:
print('1 is 1 ', 1 is 1)       # True - because the data values are the same
print('1 is not 2', 1 is not 2)  # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False -there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

1 is 1  True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\chamb\AppData\Local\Temp\ipykernel_11228\2770059951.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print('1 is 1 ', 1 is 1)       # True - because the data values are the same
C:\Users\chamb\AppData\Local\Temp\ipykernel_11228\2770059951.py:2: SyntaxWarning: "is not" with 'int' literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)  # True - because 1 is not 2
C:\Users\chamb\AppData\Local\Temp\ipykernel_11228\2770059951.py:7: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [34]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statement is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

True
False
False
True
True
False
False
False
True
True
False

# Variables in Python

In [35]:
first_name = 'BHAVANA'
last_name = 'CHAMBHARE'
country = 'INDIA'
city = 'HINGANGHAT'
age = 40087
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
    'firstname':'Asabeneh', 
    'lastname':'Yetayeh', 
    'country':'Finland',
    'city':'Helsinki'
    }

In [ ]:
# Printing the values stored in the variables

In [36]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: BHAVANA
First name length: 7
Last name:  CHAMBHARE
Last name length:  9
Country:  INDIA
City:  HINGANGHAT
Age:  40087
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

In [ ]:
# Declaring multiple variables in one line

In [37]:
first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True

In [38]:
print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Asabeneh Yetayeh Helsink 250 True
First name: Asabeneh
Last name:  Yetayeh
Country:  Helsink
Age:  250
Married:  True